[Unit]
Description=Logic spectra GPS

[Service]
ExecStart=/home/ubuntu/LSGPS/Service.js
Restart=always
User=nobody
# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
Group=nobody  
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/LSGPS

[Install]
WantedBy=multi-user.target